/* -----global styles----- */
@import url('https://fonts.googleapis.com/css?family=VT323');

*, *::before, *::after {
    box-sizing: border-box;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

:root {
    --dark: #2d472a;
    --light: #406343;
    --red-light: #802e2e;
    --red-dark: #552929;
    --brown: #635340;
    --white: #ffffff;
    --dim: #00000050;
}

body {
    background-color: var(--dark);
    color: var(--white);
    font-family: 'VT323', serif;
}

h1 {
    text-align: center;
    font-size: 5rem;
    margin: 0 0 1rem;
}

a {
    font-size: 3rem;
    background-color: var(--light);
    color: var(--white);
    width: 17.5rem;
    border-radius: 0.5rem;
    margin: 1.5rem auto;

    display: flex;
    justify-content: center;
}

img {
    width: 16rem;
    height: auto;
    left: 40rem;
    top: 10rem;
    position: absolute;
}

/* -----Popups----- */
.modal {
    background-color: var(--dim);
    width: 100vw;
    height: 100vh;
    position: fixed;
    /*display: none;*/
    overflow: auto;
    z-index: 15;
}

.modalContent {
    background-color: var(--light);
    width: 30rem;
    margin: 11rem auto 0 auto;
    border: 0.2rem solid var(--white);
    padding: 1.8rem 2.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalContent h2 {
    font-size: 6rem;
    margin: 1rem 0;
    font-weight: lighter;
    line-height: 1rem;
}

.modalContent p {
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
}

.modalContent a {
    background-color: var(--dark);
}

.loss {
    background-color: var(--red-light);
}

.loss a {
    background-color: var(--red-dark);
}

.star1 {
    width: 3rem;
    top: 210px;
    left: 510px;
    position: absolute;
}

.star2 {
    width: 3rem;
    top: 450px;
    left: 889px;
    position: absolute;
}

/* -----Countdown Popups----- */
.modalContent.countdown {
    width: 18rem;
}

.modalContent .modalNum {
    font-size: 10rem;
    padding: 2rem 0 3rem;
}

.modalContent h2 {
    font-size: 6rem;
    margin: 1rem 0;
    font-weight: lighter;
    line-height: 1rem;
}

.startArrow {
    position: absolute;
    left: 90px;
    top: 160px;
    width: 14rem;
}

/* -----Main content section----- */
/* -----Timer----- */
.timer {
    background-color: var(--dark);
    width: 12rem;
    border-radius: 1rem;

    position: absolute;
    right: 2rem;
}

/* -----Modals----- */
.content {
    height: 32rem;
    width: 50rem;
    background-color: var(--light);
    padding: 2rem;
    border-radius: 2rem;
    margin: 0 auto;
    position: relative;
}

.content h2 {
    font-size: 4rem;
    text-align: center;
    margin: 0;
}

.content p {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0;
}

.content .instructions {
    width: 70%;
    margin: 0 auto;
}

/* -----Maze section----- */
.startArea {
    top: 10px;
    left: 10px;
    position: relative;
}

.startBtn {
    font-size: 2.3rem;
    width: 6rem;
    padding: 0;
    margin: 0;
    top: 90px;
    left: 25px;
    position: absolute;
    z-index: 10;
}

.startBush {
    width: 10rem;
    padding: 0;
    margin: 0;
    top: 45px;
    left: 0;
    position: absolute;
    z-index: 5;
}

.line {
    background-color: var(--brown);
    position: absolute;
    cursor: url('../images/cursor.png'), auto;
}

.thick {
    width: 20px;
}

.thin {
    width: 10px;
}

.horizontal {
    transform: rotate(90deg);
}

#lineOne {
    top: 165px;
    left: 100px;
    height: 120px;
}

#lineTwo {
    top: 218px;
    left: 150px;
    height: 120px;
}

#lineThree {
    top: 268px;
    left: 220px;
    height: 200px;
}

#lineFour {
    top: 373px;
    left: 315px;
    height: 200px;
}

#lineFive {
    top: 178px;
    left: 420px;
    height: 300px;
}

#lineSix {
    top: 108px;
    left: 510px;
    height: 160px;
}

#lineSeven {
    top: 178px;
    left: 600px;
    height: 200px;
}

#lineEight {
    top: 333px;
    left: 645px;
    height: 100px;
}

#lineNine {
    top: 388px;
    left: 690px;
    height: 90px;
}

.hawk1 {
    width: 6rem;
    top: 320px;
    left: 50px;
    position: absolute;
}

.skateboard-snake {
    width: 5rem;
    top: 240px;
    left: 480px;
    position: absolute;
}

.snake {
    width: 6rem;
    top: 160px;
    left: 250px;
    position: absolute;
}

.tree1 {
    width: 10rem;
    top: 286px;
    left: 250px;
    position: absolute;
}

.tree2 {
    width: 8rem;
    top: 170px;
    left: 640px;
    position: absolute;
}

.nest {
    width: 6rem;
    top: 440px;
    left: 650px;
    position: absolute;
}

.ramp {
    width: 11rem;
    top: 0;
    left: 300px;
    position: absolute;
}